
.word-font{
  font-family: Montserrat;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -190px;
  background-color: none;
  width: 400px;
  height: 380px;
  border-radius: 20px;
}

.main-word{
    font-size: 68px;
    color: #fff;
    text-align: center;
    position:absolute;
    z-index:1;
    left:0;
}

.action-wrap.user {
  position:fixed;
  top:15px;
  right: 15px;
  z-index: 2;
}
.action-wrap a{
  cursor:pointer;
}
.action-wrap img{
  max-width: 100px;
  max-height: 100px;
}
.action-wrap.life {
  position:fixed;
  bottom:15px;
  left: 15px;
}
.action-wrap.scoreboard {
  position:fixed;
  bottom:15px;
  right: 15px;
}

.modal-content{
  background-color: #56b6c2;
}

#scoreboardModal table{
  margin-bottom:0;
}

#scoreboardModal table .you{
  color: #9c27b0;
}

#scoreboardModal .modal-body{
  padding:0;
}

#scoreboardModal .modal-header{
      border-bottom: 0;
}

.user-score{
    color: #fff;
    font-size: 64px;
    padding: 23px 20px;
    line-height: 64px;
    float:left;
}

.image-wrap{
    display:inline-block;
}

.image-wrap .black{
    display:none;
}

.image-wrap.disabled .black{
    display:inline-block;
}
.image-wrap.disabled .red{
    display:none;
}