
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282c34;
  overflow: hidden;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
<!--  font-family: 'Turret Road', cursive;-->
<!--  font-family: 'Wellfleet', cursive;-->
}

.no-padding{
  padding:0!important;
}