<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards - Admin Words</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/admin.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <div class="row">
        <h3 class="col-xs-12 mt-5 text-center admin-header">
            Seed database with new words
            <div class="col-xs-4 col-xs-offset-4">
                <form th:action="@{/admin/words/1}" method="get">
                    <button class="btn btn-md btn-primary btn-block" type="Submit">List of Words</button>
                </form>
            </div>
        </h3>
        <div class="option-wrap words-api col-xs-12">
            <p class="col-xs-12 guide text-center">
                External words with their synonyms/antonyms are fetched.<br><br> Click on the word you want to save in order to appear in game words.<br> <br> If no words appear, then Fetch Another.
            </p>
            <h2 class="col-xs-6 col-xs-offset-3 mb-5 mt-5 text-center" th:text="${word}"></h2>
            <form class="col-xs-3 mb-5 mt-5" th:action="@{/admin/fetch-word}" method="post">
                <button class="btn btn-md btn-default fetch-btn" type="Submit">Fetch Another</button>
            </form>
            <div class="col-xs-6">
                <h4 class="col-xs-12 mt-5 text-center">Antonyms</h4>
                <div class="antonym-wrap" th:each="sub : ${antonyms}">
                    <form th:action="@{/admin/save-word}" method="post" th:if="${sub != null}">
                        <input type="hidden" name="main" th:value="${word}">
                        <input type="hidden" name="secondary" th:value="${sub}">
                        <input type="hidden" name="is_synonym" value="0">
                        <button class="btn btn-md btn-warning btn-block" th:text="${sub}" type="Submit"></button>
                    </form>
                </div>
            </div>
            <div class="col-xs-6">
                <h4 class="col-xs-12 mt-5 text-center">Synonyms</h4>
                <div class="synonym-wrap" th:each="sub : ${synonyms}">
                    <form th:action="@{/admin/save-word}" method="post" th:if="${sub != null}">
                        <input type="hidden" name="main" th:value="${word}">
                        <input type="hidden" name="secondary" th:value="${sub}">
                        <input type="hidden" name="is_synonym" value="1">
                        <button class="btn btn-md btn-info btn-block" th:text="${sub}" type="Submit"></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="option-wrap custom col-xs-12">
            <p class="col-xs-12 guide text-center">
                Add a custom word without using an external API
            </p>
            <form th:action="@{/admin/save-word}" method="post">
                <div class="col-xs-3">
                    <input type="text" class="col-xs-12" placeholder="Main Word" name="main" aria-describedby="custom-main-word" required>
                </div>

                <div class="col-xs-3">
                    <input type="text" class="col-xs-12" placeholder="Secondary" name="secondary" aria-describedby="custom-sub-word" required>
                </div>

                <div class="col-xs-3">
                    <select name="is_synonym" class="col-xs-12">
                        <option value="1" selected>Synonym</option>
                        <option value="0">Antonym</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <button class="col-xs-12 btn btn-primary" type="Submit">Create Word</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>