<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards - Admin Words</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <style>
        .pagination>li>a, .pagination>li>span {
            color: #ffffff;
            background-color: #3e3e3e;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="col-xs-4 col-xs-offset-2">
        <form th:action="@{/game}" method="get">
            <button class="btn btn-md btn-primary btn-block" type="Submit">Back to Game</button>
        </form>
    </div>
    <div class="col-xs-4 ">
        <form th:action="@{/admin/fetch-word}" method="post">
            <button class="btn btn-md btn-success btn-block" type="Submit">Fetch new Word</button>
        </form>
    </div>
    <div class="row">
        <h3 class="col-md-8 col-md-offset-2 mt-5">
            Existing words
        </h3>
    </div>
    <div class="row word-list">
        <div class="col-md-8 col-md-offset-2 mt-5">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Main Word</th>
                    <th>Secondary</th>
                    <th>Correct Answer</th>
                    <th>Action</th>
                </tr>
                <tr th:each="word, stat : ${words}">
                    <td th:text="${word.id}"></td>
                    <td th:text="${word.main}"></td>
                    <td th:text="${word.secondary}"></td>
                    <td th:text="${word.is_synonym ? 'Synonym' : 'Antonym'}"></td>
                    <td>
                        <form th:action="@{/admin/delete-word}" method="post">
                            <input type="hidden" name="id" th:value="${word.id}">
                            <button class="btn btn-md btn-danger btn-block" type="Submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li>
                <a  th:href="@{/admin/words/} + 1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="i: ${#numbers.sequence(fromPage,toPage)}" th:class="${currentPage == i ? 'active' : ''}">
                <a th:href="@{/admin/words/} + ${i}" th:text="${i}"></a>
            </li>
            <li>
                <a  th:href="@{/admin/words/} + ${totalPages}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>