.admin-header{
    margin-bottom: 50px;
}

.option-wrap{
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

.option-wrap.custom input, .option-wrap.custom select{
    color: #fff;
    background-color: #3f444a;
    height: 50px;
}

.option-wrap.custom button{
    height: 50px;
}

.fetch-btn{
    margin-top: 15px;
}