
.card {
  position: absolute;
  left: 0;
  top: 0;
  left: 50%;
  top: 70%;
  margin-left: -300px;
  margin-top: -300px;
  width: 600px;
  height: 400px;
  transform-origin: 50% 100%;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: grab;
  user-select: none;
}

.no-confirmed {
  transform: translate(-350px, 150px) rotate(-45deg) !important;
  opacity: 0;
  transition: all 0.4s ease;
}

.yes-confirmed {
  transform: translate(350px, 150px) rotate(45deg) !important;
  opacity: 0;
  transition: all 0.4s ease;
}

.purple {
  background-color: #593C8F;
}
.grey {
  background-color: #696969;
}
.green {
  background-color: #3c8f59;
}

.choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 20px;
}

.accept {
  background-color: #439098;
  transition: all 0.5s ease;
}

.reject {
  background-color: #ec9f12;
  transition: all 0.5s ease;
}

.goback {
  transition: transform 0.5s;
  transform: translateX(0) !important;
}

.tak {
  position: relative;
  width: 50%;
  float: right;
  height: 100vh;
  font-size: 50px;
  color: #56b6c2;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}

.nie {
  position: relative;
  width: 50%;
  height: 100vh;
  font-size: 50px;
  color: #56b6c2;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease;
}

.nie .inner {
  position: absolute;
  right: 25%;
  bottom: 20%;
  font-size: 50px;
  color: #ec9f12;
}

.tak .inner {
  position: absolute;
  left: 25%;
  bottom: 20%;
  font-size: 50px;
  color: #439098;
}

.avatar {
  color: #fff;
  fill: currentColor;
  left: 50%;
  top: 50%;

  position: absolute;


    font-size: 48px;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-left: -50%;
    margin-top: -130px;
    padding: 0 15px;
}

.avatar span{
    font-size: 130px;
    display: block;
    position: absolute;
    height: 150px;
    top: auto;
    bottom: 100px;
    left: calc(50% - 65px);
}

<!--.reject .avatar span{-->
<!--    transform: rotate(90deg);-->
<!--    padding-top:15px;-->
<!--    padding-left: 100px;-->
<!--}-->