<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

Error page


<span th:text="${url}">Default</span>

<!--
  Failed URL: ${url}
  Exception:  ${exception.message}
      <c:forEach items="${exception.stackTrace}" var="ste">    ${ste}
  </c:forEach>
-->
<div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>

</body>
</html>