<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/game.css}" rel="stylesheet" />
    <link th:href="@{/css/cards.css}" rel="stylesheet" />

</head>
<body>

<div sec:authorize="isAuthenticated()" class="hidden">
  <div id="username" sec:authentication="name"></div>
</div>

<div class="container-fluid no-padding">
  <div class="main-word col-xs-8 col-xs-offset-2 word-font">
  </div>
  <div class="tak">
    <div class="inner">
      Synonym
    </div>
  </div>
  <div class="nie">
    <div class="inner">
      Antonym
    </div>
  </div>
  <div class="main">
    <div class="card_box">
      <div class="card grey start-game">
        <div class="avatar word word-font">
          Slide this card to start the game
        </div>
        <div class="choice accept">
          <div class="avatar word-font">
            Slide this card to start the game
          </div>
        </div>
        <div class="choice reject">
          <div class="avatar word-font">
            Slide this card to start the game
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="action-wrap user">
  <a data-toggle="modal" data-target="#userLoginModal">
    <img th:src="@{/image/user.png}" alt="user">
  </a>
</div>
<div class="action-wrap life">
  <div class="image-wrap" data-toggle="modal" data-target="#gameOverModal">
    <img class="red" th:src="@{/image/red-heart.png}" alt="red">
    <img class="black" th:src="@{/image/black-heart.png}" alt="black">
  </div>
  <div class="image-wrap">
    <img class="red" th:src="@{/image/red-heart.png}" alt="red">
    <img class="black" th:src="@{/image/black-heart.png}" alt="black">
  </div>
  <div class="image-wrap">
    <img class="red" th:src="@{/image/red-heart.png}" alt="red">
    <img class="black" th:src="@{/image/black-heart.png}" alt="black">
  </div>
</div>
<div class="action-wrap scoreboard">
  <div id="user-score" class="user-score">0</div>
  <a th:href="@{/score}">
    <img th:src="@{/image/scoreboard.png}" alt="score">
  </a>
</div>

<div class="modal fade" id="userLoginModal" tabindex="-1" role="dialog" aria-labelledby="userLoginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div sec:authorize="isAuthenticated()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" sec:authentication="name"></h4>
        </div>
        <div class="modal-body">
          <h4 th:text="${role}"></h4>
          <div align="center" th:if="${role == 'ADMIN'}">
            <form th:action="@{/admin/words/1}" method="get">
              <button class="btn btn-md btn-primary btn-block" type="Submit">Admin Words</button>
            </form>
            <br>
          </div>

          <form th:action="@{/logout}" method="post">
            <button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
          </form>
<!--          <h3 sec:authentication="getPoints"></h3>-->
        </div>
      </div>
      <div sec:authorize="!isAuthenticated()">
        <form th:action="@{/login}" method="POST" class="form-register">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="userLoginModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <input type="text" name="username" placeholder="username"
                   class="form-control"/> <br/>
            <input type="password" placeholder="password" name="password" class="form-control"/> <br/>
            <div align="center" th:if="${param.error}">
              <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning pull-left" onClick="game.toggleUserModals('register')">Register</button>
            <button class="btn btn-success" name="Submit" value="Login" type="Submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="userLoginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gameOverModalLabel">GAME OVER</h4>
      </div>
      <div class="modal-body text-center">
        <div class="high-score">
          <img class="black" th:src="@{/image/highscore.png}" alt="highscore">
          <div class="points points-text"></div>
          <div class="message">Congrats! You created a high score!</div>
        </div>
        <div class="failed hidden">
          <img class="black" th:src="@{/image/gameover.png}" alt="gameover">
          <div class="points points-text"></div>
          <div class="message">Your can do better than this!</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" onClick="game.playAgain()">Play Again</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog" aria-labelledby="userRegisterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form autocomplete="off" action="#" th:action="@{/register}"
            th:object="${user}" method="post" class="form-horizontal"
            role="form">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="userRegisterModalLabel">Register</h4>
        </div>
        <div class="modal-body">

            <input type="text" th:field="*{username}" placeholder="username"
                   class="form-control"/> <br/>
            <input type="text" th:field="*{email}" placeholder="email"
                   class="form-control"/> <br/>
            <input type="password" placeholder="password"  th:field="*{password}" class="form-control"/> <br/>

          <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning pull-left" onClick="game.toggleUserModals('login')">Login</button>
          <button class="btn btn-success" name="Submit" value="Login" type="Submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script th:src="@{/js/game.js}"></script>
<script th:src="@{/js/cards.js}"></script>

</body>
</html>