<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <style>
        .margin{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

<div class="container text-center">
    <h3 class="col-xs-12">English Flash Cards</h3>
    <h2 class="col-xs-12">The Game</h2>
    <div class="col-xs-8 col-xs-offset-2 margin">
        <div sec:authorize="isAuthenticated()">
            Hello <span sec:authentication="name"></span>. Feel free to try your english skills now.
            <h3 class="margin"></h3>
            <form th:action="@{/game}" method="get">
                <button class="btn btn-md btn-primary btn-block" type="Submit">Game</button>
            </form>
            <h3 class="margin"></h3>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Logout</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <h5 class="col-xs-12">Hello fellow player! <br><br>Feel free to register/login in order to play the game.</h5>

            <h3 class="margin"></h3>
            <form th:action="@{/login}" class="col-xs-6" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Login</button>
            </form>
            <form th:action="@{/register}" class="col-xs-6" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Register</button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>