<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards - Login</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>

<body>
<form th:action="@{/register}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <h2>Login Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" id="username" name="username" placeholder="Username"
                               class="form-control"/> <br/>
                    </div>
                </div>
                <div class="form-group mb-5">
                    <div class="col-sm-9">
                        <input type="password" placeholder="Password"
                               id="password" name="password" class="form-control"/>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Login User</button>
                    </div>
                </div>

                <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

            </form>
        </div>
    </div>
</div>
</body>
</html>