<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Flash Cards - Scoreboard</title>
    <link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&Turret+Road:wght@300&family=Press+Start+2P&family=Wellfleet&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "/>
    <link th:href="@{/css/global.css}" rel="stylesheet" />

    <style>
      table .you{
        color: #9c27b0;
      }
      .mt-15{
        margin-top: 15px;
      }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <h3 class="col-md-4 col-md-offset-2 mt-5">
            Scoreboard
        </h3>
        <div class="col-xs-4 mt-15">
            <form th:action="@{/game}" method="get">
                <button class="btn btn-md btn-primary btn-block" type="Submit">Back to Game</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-5">
            <table class="table">
                <tr>
                    <th>rank</th>
                    <th>username</th>
                    <th class="text-right">points</th>
                </tr>
                <tr th:each="user, stat : ${users}" th:class="'values '+${user.username == username ? 'you' : ''}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.points}" class="text-right"></td>
                </tr>
                <tr th:if="${userRank > 11}" class="values">
                    <td>...</td>
                    <td>...</td>
                    <td class="text-right">...</td>
                </tr>
                <tr th:if="${userRank > 10}" class="values you">
                    <td th:text="${userRank}"></td>
                    <td th:text="${username}"></td>
                    <td th:text="${userPoints}" class="text-right"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>